#eazy-newsletter-addresses-wrapper {
    width: 70%;
}

#eazy-newsletter-addresses-wrapper tr{
    background: #ccc;
    padding: 0px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px!important;
}

#eazy-newsletter-addresses-wrapper .mail-address{
    width:25%;
    height:auto;
    margin:auto;
}

#eazy-newsletter-addresses-wrapper tr .mail-field{
    width:15%;
    height:auto;
    margin:auto;
}

#eazy-newsletter-addresses-wrapper th{
    text-align:center!Important;
}

#eazy-newsletter-addresses-wrapper td{
    text-align:center!Important;
}

.delete-mail-link {
    background: #960B00;
    color: #fff!important;
    padding: 8px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
    width: auto;
    height: auto;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#eazy_newsletter_custom_html_header {
    height:300px;
    max-width: 600px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#eazy_newsletter_custom_html_body {
    height:300px;
    max-width: 600px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#eazy_newsletter_custom_html_footer {
    height:300px;
    max-width: 600px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
